logs
crash-reports
saves
screenshots
shaderpacks
minecraftinstance.json
options.txt
usercache.json
usernamecache.json
.curseclient
modernfix/structureCacheV1
emi.json
xaero
config/propertymodifier_generated.toml
config/embeddium-options.json
XaeroWaypoints
config/xaerominimap_entities.json
XaeroWaypoints_BACKUP032021
XaeroWaypoints_BACKUP240807
config/xaeropatreon.txt
rhino.local.properties
README.txt
local/kubejs/dev.properties
config/dynamic_lights_reforged.toml

